<section class="card">
    <div class="card-body">
        <h1>Acerca del sistema</h1>
        <p>Este sistema su funcion es ser una agenda para tus direcciones, sus funciones son:</p>
        <p>- Crear multiples dirrecciones</p>
        <p>- Editar tus direcciones existentes</p>
        <p>- Elimnar las direcciones que no existan</p>
    </div>
</section>