<section class="card">
    <div class="card-body">
        <h1>Acerca</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa est reiciendis iusto perferendis facere, nisi tempora praesentium obcaecati illo totam! Eum earum asperiores non incidunt magni unde commodi adipisci!</p>
    </div>
</section>