<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de manejo de clientes</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ducimus blanditiis reiciendis molestias necessitatibus, tempore ipsum non asperiores nobis quod nam ea illum ab iste. Ad earum suscipit facere placeat.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur amet exercitationem ratione omnis vel, adipisci accusantium culpa nihil eos doloribus error eaque cumque tempora itaque optio quaerat accusamus ipsam dolores?</p>
    <a href="/" class="btn btn-primary">Github</a>
</div>